<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Test</title>
  <link rel="stylesheet" src="/styles/resets.css">
  <link rel="stylesheet" src="/styles/base.css">
  <link rel="stylesheet" src="/styles/header.css">
  <link rel="stylesheet" src="/styles/form.css">
  <link rel="stylesheet" src="/styles/footer.css">
</head>

<body>

  <main>
    <section>
      <form class="" onsubmit="return">
        <input type="text" placeholder="Enter City" id="location" name="location">
        <input type="date" id="trip-start" name="trip-start" value="2021-01-01" min="2021-01-01" max="2030-12-31">
        <input type="submit" name="" value="submit" id="generate">
      </form>
    </section>

    <section>
      <div id="city_field"></div>
    </section>
  </main>


  <!-- <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
  </script> -->
</body>

</html>
